.dateBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.dateRange {
  position: absolute;
  top: 50px;
  left: 53%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 100;
}
