.locationContainer {
  height: 228px;
  min-width: 228px;
  padding: 0.5rem;
}

.hotelInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ratingPaper {
  display: flex;
  align-items: center;
  justify-content: center;
}
